// Blocks SCSS

.banner-section {
    & .block {
        display: flex;
        align-items: flex-end;
        gap: 58px;
        @include laptop {
            gap: 28px;
        }
        @include tablet {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 24px;
        }
        & .image {
            flex-shrink: 0;
        }
        & .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include tablet {
                gap: 16px;
            }
            & p {
                max-width: 370px;
            }
        }
    }
}

.client-section {
    & .client-header {
        text-align: center;
        display: flex;
        justify-content: center;
        & h2 {
            max-width: 615px;
        }
    }
    & .client-body {
        display: flex;
        padding: 56px 20px 46px;
        margin: 0 -20px;
        @include laptop {
            padding: 56px 24px 46px;
            margin: 0 -24px;
        }
        @include tablet {
            padding: 32px 24px 38px;
        }
        & ul {
            & li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: $white;
                border-radius: 24px;
                height: 111px;
                box-shadow: 8px 0 32px 8px rgba(0, 0, 0, 0.13);
            }
        }
    }
}

.service-section {
    & .block {
        background-color: $black;
        padding: 64px 60px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 32px 24px;
        }

        & h2 {
            margin-bottom: 24px;
            @include tablet {
                text-align: center;
            }
        }
        & p {
            @include tablet {
                text-align: center;
            }
        }
        & ul {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            @include tablet {
                margin-top: 32px;
            }
            @include mobile {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 48px;
            }
            & li {
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: flex-start;
                @include tablet {
                    font-size: 14px;
                    line-height: 20px;
                }
                &:nth-child(1) {
                    & img {
                        @include tablet {
                            width: 16.5px;
                        }
                    }
                }
                &:nth-child(2) {
                    & img {
                        @include tablet {
                            width: 35px;
                        }
                    }
                }
                &:nth-child(3) {
                    & img {
                        @include tablet {
                            width: 32px;
                        }
                    }
                }
                &:nth-child(4) {
                    & img {
                        @include tablet {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
}

.output-section {
    & .block {
        display: flex;
        align-items: center;
        gap: 119px;
        @include tablet {
            flex-direction: column;
            text-align: center;
            gap: 24px;
        }
        & .image {
            flex-shrink: 0;
        }
        & .content {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

.flexible-section {
    & .block {
        display: flex;
        align-items: center;
        gap: 40px;
        @include tablet {
            flex-direction: column-reverse;
            text-align: center;
            gap: 24px;
        }
        & .image {
            flex-shrink: 0;
        }
        & .content {
            display: flex;
            flex-direction: column;
            & h2 {
                margin-bottom: 16px;
            }
            & ul {
                margin-top: 56px;
            }
        }
    }
}

.plans-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include tablet {
            gap: 16px;
        }
        & .plans-body {
            display: block;
            width: 100%;
            overflow: initial;
            @include mobile {
                padding-bottom: 30px;
            }
            & .swiper-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px;
                @include mobile {
                    display: flex;
                    width: 100%;
                    gap: 0;
                }
            }
            & .plan-item {
                display: flex;
                flex-direction: column;
                background-color: $white;
                box-shadow: -16px 4px 32px 8px rgba(0, 0, 0, 0.13);
                border-radius: 50px;
                padding: 0 54px;
                overflow: hidden;
                @include tablet {
                    padding: 0 24px;
                    border-radius: 24px;
                }
                & .item-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    position: relative;
                    padding: 54px 0 22px;
                    @include tablet {
                        padding: 32px 0 16px;
                    }
                    & .icon {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 50px;
                    }
                    & .popular {
                        position: absolute;
                        background-color: $primary;
                        color: $white;
                        width: 227px;
                        height: 61px;
                        font-size: 16px;
                        line-height: 82px;
                        transform: rotate(39deg);
                        right: -138px;
                        top: -7px;
                        font-weight: 700;
                        @include tablet {
                            font-size: 12px;
                            right: -118px;
                            top: -14px;
                        }
                    }
                    & .name {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 26px;
                        @include tablet {
                            font-size: 20px;
                        }
                    }
                    & .name-sm {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    & .description {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 16px;
                    }
                    & .description-sm {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 16px;
                    }
                    & .pricing-cut {
                        text-decoration: line-through;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 26px;
                        margin-bottom: 8px;
                        color: $neutral-300;
                        & .slash {
                            font-weight: 500;
                            font-size: 20px;
                        }
                        & .type {
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }
                    & .pricing {
                        font-weight: 700;
                        font-size: 42px;
                        line-height: 26px;
                        margin-bottom: 16px;
                        @include tablet {
                            font-size: 32px;
                            line-height: 23px;
                        }
                        & .slash {
                            font-weight: 500;
                            font-size: 32px;
                        }
                        & .type {
                            font-weight: 400;
                            font-size: 16px;

                        }
                    }
                    & .toggler {
                        width: 310px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-bottom: 16px;
                        @include mobile {
                            width: 100%;
                        }
                        & li {
                            display: flex;
                            & label {
                                width: 100%;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                height: 50px;
                                background-color: $neutral-50;
                                cursor: pointer;
                                font-size: 14px;
                                line-height: 17px;
                                font-weight: 400;
                                text-transform: uppercase;
                                display: flex;
                                flex-direction: column;
                                @include tablet {
                                    font-size: 12px;
                                    line-height: 15px;
                                    height: 45px;
                                }
                                & span {
                                    font-size: 10px;
                                    line-height: 12px;
                                    text-transform: capitalize;
                                    font-weight: 700;
                                }
                            }
                            & input {
                                display: none;
                                &:checked {
                                    &+label {
                                        background: linear-gradient(269.97deg, $gradient-color-1 0.03%, $gradient-color-2 99.98%);
                                        color: $white;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                        &.toggler-dark {
                            & li {
                                & input {
                                    &:checked {
                                        &+label {
                                            background: $black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .saving {
                        background-color: $neutral-50;
                        padding: 12px 28px;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 700;
                        border-radius: 40px;
                        margin-bottom: 16px;
                        @include tablet {
                            padding: 12px 15px;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                    & .past-solution {
                        display: flex;
                        justify-content: center;
                        & a {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            color: $neutral-600;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                        }
                    }
                }
                & .item-body {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid $neutral-200;
                    @include mobile {
                        border-bottom: none;
                    }
                    & .list {
                        display: flex;
                        flex-direction: column;
                        & .title {
                            font-size: 16px;
                            line-height: 20px;
                            padding-bottom: 5px;
                            border-bottom: 1px solid $neutral-200;
                            margin-bottom: 16px;
                            font-weight: 700;
                            @include tablet {
                                font-size: 14px;
                                margin-bottom: 12px;
                            }
                        }
                        & ul {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 16px;
                            gap: 15.5px;
                            & li {
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                line-height: 20px;
                                & span {
                                    margin-left: 15px;
                                }
                                &.locked {
                                    & span {
                                        color: $neutral-300;
                                    }
                                }
                                & .info {
                                    padding: 0 4px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                & .item-footer {
                    display: flex;
                    flex-direction: column;
                    padding: 16px 0 30px;
                    & .spots {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 12px;
                        font-size: 14px;
                        line-height: 17px;
                        color: $neutral-600;
                        gap: 7px;
                        text-align: center;
                    }
                    & .policy {
                        font-size: 12px;
                        line-height: 15px;
                        color: $neutral-400;
                        text-align: center;
                        margin-top: 12px;
                        @include tablet {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.compare-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 56px;
        @include mobile {
            box-shadow: 8px 0 32px 8px rgba(0, 0, 0, 0.21);
            gap: 12px;
            padding: 32px 16px 64px;
            border-radius: 24px;
        }
        & .section-header {
            @include mobile {
                align-items: flex-start;
                text-align: left;
            }
        }
        & .compare-body {
            padding: 56px 0 46px;
            box-shadow: 8px 0 32px 8px rgba(0, 0, 0, 0.21);
            border-radius: 50px;
            display: grid;
            grid-template-columns: 278px 1fr;
            @include tablet {
                grid-template-columns: 208px 1fr;
                border-radius: 24px;
                padding: 32px 0;
            }
            @include mobile {
                padding: 0;
                box-shadow: none;
                grid-template-columns: 145px 1fr;
                gap: 10px;
            }
            & .table-head {
                padding-top: 94px;
                & ul {
                    & li {
                        height: 85px;
                        padding: 0 38px;
                        border-bottom: 1px solid $neutral-100;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 700;
                        @include tablet {
                            padding: 0 24px;
                        }
                        @include mobile {
                            padding: 0;
                            border-bottom: none;
                            height: 67px;
                            font-size: 12px;
                            line-height: 15px;
                        }
                        &:nth-child(1) {
                            height: 67px;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            & .table-body {
                width: 100%;
                @include mobile {
                    padding-bottom: 32px;
                }
                & .swiper-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    @include mobile {
                        display: flex;
                    }
                }
                & .item {
                    display: flex;
                    flex-direction: column;
                    @include mobile {
                        // box-shadow: 8px 0 32px 8px rgba(0, 0, 0, 0.21);
                        border: 1px solid $neutral-200;
                        border-radius: 24px;
                        background-color: $white;
                        padding: 0 8px;
                    }
                    & .logo {
                        height: 94px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        position: relative;
                        top: -15px;
                        @include mobile {
                            top: 0;
                        }
                        & p {
                            font-size: 12px;
                            line-height: 15px;
                            font-weight: 400;
                            margin-top: 3px;
                        }
                        & h5 {
                            font-size: 24px;
                            line-height: 26px;
                            font-weight: 700;
                        }
                    }
                    & ul {
                        & li {
                            height: 85px;
                            padding: 0 38px;
                            border-bottom: 1px solid $neutral-100;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            justify-content: center;
                            text-align: center;
                            @include mobile {
                                height: 67px;
                                border-bottom: none;
                            }
                            &:nth-child(1) {
                                height: 67px;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.efficiency-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include tablet {
            gap: 18px;
        }
        & .efficiency-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 85px;
            @include tablet {
                gap: 32px;
            }
            @include mobile {
                grid-template-columns: 1fr;
                gap: 32px;
            }
            & li {
                padding: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                & .item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 179px;
                    height: 179px;
                    border-radius: 50%;
                    position: relative;
                    background-color: $white;
                    &::before {
                        position: absolute;
                        content: '';
                        top: -3px;
                        bottom: -3px;
                        right: -3px;
                        left: -3px;
                        background: linear-gradient(180deg, $gradient-color-1 0.03%, $gradient-color-2 99.98%);
                        border-radius: 50%;
                        z-index: -1;
                    }
                    & .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;
                        & .digits {
                            font-size: 32px;
                            line-height: 35px;
                            font-weight: 700;
                        }
                        & > span {
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.limits-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include tablet {
            gap: 24px;
        }
        & .image {
            border-radius: 24px;
            overflow: hidden;
        }
    }
}

.case-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        & .swiper {
            width: 100%;
            overflow: initial;
            padding-bottom: 30px;
        }
        & .case-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            @include tablet {
                gap: 12px;
            }
            @include mobile {
                display: flex;
                gap: 0;
            }
            & li {
                background-color: $white;
                border-radius: 24px;
                box-shadow: -16px 4px 32px 8px rgba(0, 0, 0, 0.13);
                padding: 16px 24px;
                display: flex;
                flex-direction: column;
                & img {
                    margin-bottom: 12px;
                }
                & p {
                    margin-bottom: 24px;
                    padding-right: 16px;
                    @include tablet {
                        padding-right: 0;
                    }
                }
                & a {
                    margin-top: auto;
                }
            }
        }
    }
}

.request-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: $white;
        border-radius: 24px;
        box-shadow: 8px 0 32px 8px rgba(0, 0, 0, 0.21);
        padding: 48px;
        @include tablet {
            padding: 24px;
        }
        & .request-header {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include tablet {
                gap: 12px;
            }
        }
        & .request-form {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            & input {
                border: none;
                border-bottom: 1px solid $neutral-300;
                text-align: center;
                font-size: 16px;
                line-height: 28px;
                &.name-field {
                    width: 166px;
                    @include mobile {
                        width: 143px;
                    }
                }
                &.email-field {
                    width: 227px;

                }
                &.phone-field {
                    width: 235px;
                }
            }
            & .select {
                width: 217px;
                @include mobile {
                    width: 122px;
                }
                & select {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $neutral-300;
                    text-align: center;
                    font-size: 16px;
                    line-height: 28px;
                    background-color: transparent;
                    font-family: $font-lato;
                }
            }
        }
        & .request-footer {
            & .btn {
                @include mobile {
                    width: 100%;
                }
            }
        }
    }
}

.vision-section {
    & .block {
        position: relative;
        & .services {
            position: absolute;
            right: -20px;
            top: 0;
            @include tablet {
                display: none;
            }
        }
        & > h1 {
            margin-bottom: 24px;
            @include tablet {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 12px;
            }
        }
        & > h4 {
            margin-bottom: 30px;
            @include tablet {
                margin-bottom: 24px;
            }
        }
        & .content {
            background-color: $black;
            padding: 165px 43px 88px;
            border-radius: 24px 530px 24px 0;
            @include tablet {
                padding: 0;
                background-color: $white;
            }
            & .features {
                display: grid;
                grid-template-columns: 220px 220px 220px;
                gap: 86px;
                padding: 16px;
                @include tablet {
                    grid-template-columns: 1fr;
                    gap: 8px;
                    padding: 0;
                }
                & .item {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    @include tablet {
                        background-color: $black;
                        border-radius: 24px;
                        padding: 24px;
                        flex-direction: row;
                    }
                    & .line {
                        width: 90px;
                        display: inline-block;
                        height: 5px;
                        background: linear-gradient(269.97deg, $gradient-color-1 0.03%, $gradient-color-2 99.98%);
                        border-radius: 4px;
                        margin-bottom: 12px;
                        @include tablet {
                            height: 100%;
                            width: 5px;
                            margin-bottom: 0;
                            margin-right: 8px;
                        }
                    }
                    & h4 {
                        margin-bottom: 32px;
                        @include tablet {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 0.21em;
                            transform: rotate(-90deg) translateY(-50%);
                            margin-bottom: 0;
                            position: absolute;
                            left: 8px;
                            top: 50%;
                            width: 108px;
                            text-align: center;
                            margin-top: -12px;
                        }
                    }
                    & ul {
                        display: flex;
                        flex-direction: column;
                        font-size: 20px;
                        line-height: 28px;
                        gap: 24px;
                        @include tablet {
                            font-size: 16px;
                            gap: 12px;
                            margin-left: 56px;
                        }
                    }
                }
            }
        }
        & > p {
            margin-top: 12px;
            color: $neutral-300;
            @include tablet {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
            }
        }
    }
}

.navigating-section {
    & .block {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include tablet {
            align-items: center;
            text-align: center;
        }
        & .content {
            display: flex;
            gap: 96px;
            @include tablet {
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 32px;
            }
            & .image {
                flex-shrink: 0;
            }
            & .text {
                display: flex;
                flex-direction: column;
                gap: 30px;
                @include tablet {
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
}

.contact-section {
    & .container-lg {
        @include tablet {
            padding-left: 0;
            padding-right: 0;
        }
    }
    & .block {
        display: grid;
        grid-template-columns: 407fr 592fr;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        & .illustration {
            background-color: $black;
            padding-top: 182px;
            position: relative;
            z-index: -10;
            padding-right: 20px;
            @include tablet {
                padding: 124px 24px 60px;
                text-align: center;
                z-index: initial;
            }
            
            &::before {
                content: '';
                position: absolute;
                left: -100%;
                width: 100%;
                background-color: $black;
                height: 100%;
                top: 0;
                z-index: -20;
            }
            & h1 {
                position: relative;
                z-index: 20;
            }
            & img {
                max-width: none;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -38px;
                z-index: -10;
                @include tablet {
                    width: 490px;
                    z-index: 0;
                }
            }
            & .button {
                display: none;
                @include tablet {
                    display: flex;
                    align-items: center;
                    margin-top: 105px;
                    justify-content: center;
                }
                & .btn {
                    @include  mobile { 
                        width: 100%;
                    } 
                }
            }
        }
        & .content {
            background-color: $white;
            padding-top: 177px;
            padding-left: 136px;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            @include laptop {
                padding-left: 56px;
            }
            @include tablet {
                padding: 48px 24px;
            }
            @include mobile {
                padding: 48px 24px 0;
            }
            & .form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 24px;
                row-gap: 48px;
                margin-bottom: 32px;
                @include tablet {
                    margin-bottom: 52px;
                }
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                }
                & .form-unit {
                    &:nth-child(5) {
                        grid-column-end: 3;
                        grid-column-start: 1;
                    }
                }
                & .btn-unit {
                    margin-top: -20px;
                    @include mobile {
                        margin-top: -4px;
                    }
                    & .btn {
                        @include mobile {
                           width: 100%;
                        }
                    }
                }
            }
            & .info {
                margin-top: auto;
                @include mobile {
                    background-color: $black;
                    color: $white;
                    margin: 0 -24px;
                    padding: 52px 24px 40px;
                    text-align: center;
                }
                & ul {
                    display: grid;
                    grid-template-columns: 169px 169px 169px;
                    font-size: 12px;
                    line-height: 15px;
                    column-gap: 32px;
                    row-gap: 12px;
                    @include mobile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 16px;
                    }
                    & li {
                        &:nth-child(3) {
                            grid-column-start: 1;
                        }
                        &:nth-child(5) {
                            margin-left: -40px;
                            @include mobile {
                                margin: 0;
                            }
                        }
                        & a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                    
                }
            }
        }
    }
}
