// Forms SCSS
.form-unit {
    position: relative;
    & label {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }
    & textarea {
        height: 100px;
        resize: none;
        &.comments {
            height: 177px;
        }
    }
    & .error-message {
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
        color: #b61010;
        position: absolute;
        bottom: -14px;
        left: 0;
    }
    & .example {
        font-size: 13px;
        line-height: 18px;
        margin-top: 14px;
    }
    & .input-field {
        width: 100%;
        border: none;
        border-bottom: solid 1px rgba($black, 1);
        background: transparent;
        border-radius: 0;
        padding: 12px 0;
        font-size: 16px;
        line-height: 28px;
        transition: $btn-transition;
        color: $black;
        &::placeholder {
            opacity: 0.3;
        }
        &:-ms-input-placeholder {}
        &::-ms-input-placeholder {}
        &:focus {
            border-bottom: solid 1px #98C1D9;
        }
    }
    &.error {
        & .input-field {
            border-bottom: solid 1px #B61010;
        }
    }
}
.select-unit {
    width: 100%;
    border: none;
    border-bottom: solid 1px rgba($black, 1);
    position: relative;
    z-index: 0;
    font-size: 13px;
    line-height: 24px;
    transition: $btn-transition;
    @include tablet {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0;
    }
    & select {
        font-family: $font-lato;
        padding: 12px 0;
        color: $black;
        background: transparent;
        min-height: 45px;
        border-radius: 0;
        border: none;
        appearance: none;
        width: 100%;
    }
    & img {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 13px;
    }
}
.alert {
    display: none;
    animation: fadeIn 0.3s ease;
    flex-direction: column;
    position: absolute;
    @include mobile {
        position: static;
    }
    & .message {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-bottom: 2px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
    & p {
        white-space: nowrap;
        line-height: 27px;
        @include mobile {
            white-space: initial;
        }
    }
}

.alert-processing {
    & .message {
        color: $neutral-50;
    }
}

.alert-success {
    & .message {}
}

.alert-danger {
    & .message {}
}
