// Swiper CSS {
.swiper-pagination {
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 6px;
    left: 50%;
    transform: translateX(-50%);
    & .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: $neutral-50;
        border-radius: 14px;
        // transition: $link-transition;
        &.swiper-pagination-bullet-active {
            background: linear-gradient(180deg, $gradient-color-1 0%, $gradient-color-2 100%);
        }
    }
}
 


.swiper-button-prev,
.swiper-button-next {
    &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.swiper-button-hidden {
    display: none !important;
}