// Header SCSS

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 80;
    padding: 40px 0;
    @include tablet {
        padding: 32px 0;
        border-bottom: none;
    }
    & .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &:after {
            background-color: $black;
            width: 67px;
            height: 67px;
            border-radius: 100%;
            position: absolute;
            right: -13px;
            top: -17px;
            content: '';
            opacity: 0;
            transform: scale(1);
            transition: 0.8s transform ease-in-out,  0.4s opacity ease-in-out;
            z-index: -10;
        }
        & .illustration {
            display: none;
            @include tablet {
                display: block;
                position: absolute;
                right: -24px;
                top: 103px;
                z-index: -5;
                transform: scale(0.24);
                opacity: 0;
                transform-origin: top right;
                transition: 0.2s opacity ease 0.2s, 1s transform cubic-bezier(.08, 1.0, .07, 1) 0.2s ;
                // transition: 0.8s transform ease-in-out,  0.4s opacity ease-in-out;
            }
        }
        & .logo {
            width: 180px;
            transition: 0.6s all ease;
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black;
            @include tablet {
                width: 135px;
            }
        }
        & .toggler {
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 10;
            position: relative;
            outline: none;
            width: 32px;
            height: 32px;
            transition: 0.6s all ease;
            display: none;
            @include tablet {
                display: block;
            }
            
            & span {
                border-radius: 2px;
                width: 16px;
                height: 1.5px;
                display: block;
                position: relative;
                transition: all 0.6s;
                &::after,
                &::before {
                    border-radius: 2px;
                    transition: all 0.6s;
                    position: absolute;
                    left: 8px;
                    content: "";
                    height: 1.5px;
                }
                &::before {
                    width: 16px;
                    top:3px;
                    background-color: $black;
                }
                &::after {
                    width: 16px;
                    bottom: 3px;
                    background-color: $black;;
                }
            }
        }
        & .menu-wrapper {
            display: flex;
            align-items: center;
            @include tablet {
                flex-direction: column;
                position: absolute;
                top: -32px;
                left: 0;
                right: 0;
                padding: 161px 0 40px;
                visibility: hidden;
                opacity: 0;
                transform: translateX(50%);
                transform-origin: right;
                transition: 1s all cubic-bezier(.08, 1.0, .07, 1) 0.2s;
                height: 100vh;
                height: calc(var(--vh, 1vh) * 100);
                justify-content: flex-end;
                overflow: hidden;
            }
            & .header-wrapper {
                display: flex;
                align-items: center;
                column-gap: 32px;
                @include laptop {
                    column-gap: 20px;
                }
                @include tablet {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    overflow: auto;
                    height: 100%;
                }
                & > .button {
                    @include tablet {
                        margin-top: auto;
                        width: 100%;
                        & .btn {
                            background-color: $white;
                            color: $black;
                            border-color: $white;
                            @include mobile {
                                width: 100%;
                            }
                        }
                    }
                }
                & > ul {
                    display: flex;
                    align-items: center;
                    column-gap: 32px;
                    @include laptop {
                        column-gap: 20px;
                    }
                    @include tablet {
                        height: auto;
                        counter-reset: section;
                        list-style-type: none;
                        flex-direction: column;
                        margin-right: 0;
                        width: 100%;
                        row-gap: 24px;
                    }
                    & > li {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        @include tablet {
                            width: 100%;
                            position: relative;
                        }
                        & > a {
                            font-size: 20px;
                            line-height: 28px;
                            text-decoration: none;
                            padding: 4px 0;
                            font-family: $font-lato;
                            color: $black;
                            font-weight: 700;
                            @include tablet {
                                height: 100%;
                                color: $white;
                                justify-content: flex-start;
                            }
                            &::before {
                                @include tablet {
                                    background-color: $white;
                                }
                            }
                            &.btn-active {
                                background: linear-gradient(180deg, $gradient-color-1 0%, $gradient-color-2 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                &::before {
                                    background: $gradient-color-2;
                                }
                            }
                        }
                    }
                    
                }
            }
           
        }
        &.active {
            &:after {
                opacity: 1;
                transform: scale(50);
             }
             & .illustration {
                @include tablet {
                    transform: scale(1);
                    opacity: 1;
                    transition: 0.4s opacity ease 0.2s, 1s transform cubic-bezier(.08, 1.0, .07, 1) 0.2s ;
                }
            }
            & .logo {
                color: $white;
            }
            & .toggler {
                & span {
                    background-color: transparent;
                    &::before {
                        width: 16px;
                        background-color: $white;
                        transform: translateY(-3px) translateX(0px) rotate(-45deg);
                    }
                    &::after {
                        width: 16px;
                        background-color: $white;
                        transform: translateY(3px) translateX(0px) rotate(45deg);
                    }
                }
            }
            & .menu-wrapper {
                @include tablet {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}
